/* Overlay */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: var(--color-overlay);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

/* Animación de entrada para el overlay */
.overlay-slide-down {
  animation: overlaySlideDown 0.3s forwards;
}

/* Animación de salida para el overlay */
.overlay-slide-up {
  animation: overlaySlideUp 0.3s forwards;
}

/* Modal content */
.modal-content {
  background: var(--color-background);
  border-radius: 12px;
  padding: 50px;
  max-width: 600px;
  width: 100%;
  position: relative;
  box-shadow: var(--shadow-base);
}

/* Animación de entrada para el contenido del modal */
.content-slide-down {
  animation: contentSlideDown 0.3s forwards;
}

/* Animación de salida para el contenido del modal */
.content-slide-up {
  animation: contentSlideUp 0.3s forwards;
}

@keyframes overlaySlideDown {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes overlaySlideUp {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(-100%);
    opacity: 0;
  }
}

@keyframes contentSlideDown {
  from {
    transform: translateY(-50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes contentSlideUp {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(-50px);
    opacity: 0;
  }
}
